.cards-lists-container {
  display: flex;
}

.cards-section {
  margin: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &-title {
    font-size: 20px;
    color: coral;
    text-transform: capitalize;
    margin-bottom: 30px;
  }
  &-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.card {
  cursor: pointer;
  background-color: white;
  width: 200px;
  height: 280px;
  box-shadow: 1px 1px 4px 0px #afa9a9;

  &-img {
    width: 150px;
  }
  &-name {
    font-size: 16px;
  }
  &-status {
  }
}

.selected {
    background-color: burlywood;
}
