.cards {
  margin: 30px;
  width: 1000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &-title {
    color: coral;
    text-transform: capitalize;
    margin-bottom: 30px;
  }
  &-list {
    width: 1000px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.card {
  border: 1px solid grey;
  width: 150px;
  height: 280px;

  &-img {
    width: 150px;
  }
  &-name {
    font-size: 16px;
  }
  &-status {
  }
}
