.cards-lists-container {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.cards-section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &-title {
    font-size: 18px;
    color: #215f37;
    text-transform: capitalize;
    margin-bottom: 30px;
  }
  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.reg-cards {
  margin-right: 30px;
}

.fav-cards {
  margin-left: 60px;
}

.card {
  padding: 10px;
  cursor: pointer;
  background-color: white;
  width: 230px;
  height: 310px;
  box-shadow: 1px 1px 4px 0px #afa9a9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &-img {
    width: 160px;
    height: 220px;
    object-fit: cover;
  }
  &-name {
    font-size: 15px;
    font-weight: bold;
    padding: 5px 0 3px 0;
  }
  &-status {
    font-size: 14px;
  }
}

.selected {
  background-image: linear-gradient(#ffffff, $mainGreen);
  color: white;
}

.fa-square-xmark {
  transform: translate(97px, -5px);
  color: $mainGreen;
  font-size: 28px;
}
