.search {
  background-color: $mainWhite;
  height: 80px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-40px);
  box-shadow: 1px 1px 4px 0px #afa9a9;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  @media all and (min-width: 768px) {
    width: 60%;
  }
}

.search-btn {
  all: unset;
  cursor: pointer;
  text-transform: capitalize;
  color: whitesmoke;
  background-color: $mainGreen;
  padding: 2px;
  height: 30px;
  width: 80px;
  border-radius: 5px;

  @media all and (min-width: 768px) {
    height: 30px;
    width: 80px;
  }
}
.search-input {
  padding-left: 10px;
  border: 1px solid $mainGreen;
  width: 60%;
  height: 26px;
}
