.header {
  height: 350px;
  width: 100%;
  background-image: url(../images/breakingbad-header.jpeg);
  background-position: center top -70px;
  background-repeat: no-repeat;
  background-size: 1200px;
}
